.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

:root{
--VeryDarkBlue: hsl(243, 87%, 12%);
--DesaturatedBlue: hsl(238, 22%, 44%);
--BrightBlue: hsl(224, 93%, 58%);
--ModerateCyan: hsl(170, 45%, 43%);
--LightGrayishBlue: hsl(240, 75%, 98%);
--LightGray: hsl(0, 0%, 75%);
--shadow:0 0 10px 1px var(--LightGray);
}

*{
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.5rem;
    margin: 0;
    font-family: "Raleway", sans-serif;
    line-height: 1.5;
    color: var(--DesaturatedBlue);
}
h1,
h2,
h3{
    color: var(--VeryDarkBlue);
    margin: 1rem 1rem 0 0;
    font-family: "Open Sans", sans-serif;
}

h1{
    font-size: 2.5rem;
}
h2{
    font-size: 1.8rem;
    text-align: center;
}
h3{
    font-size: 1.3rem;
    margin-bottom: 1rem;
}
.nav{
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    padding: 2rem;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3rem;
    font-weight: 600;
}
.parts{
    display: flex;
    flex-direction: row;
}

.logo{
    height: 20px;
}
.nav_items{
    margin-left: 2rem;
    font-size: 1.2rem;
   
}

.illustration{
    width: 85%;
    margin-bottom: 3rem;
}

.intro_part{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    color: var(--VeryDarkBlue);
    padding: 0 2rem;
}
.intro_part p{
    padding: 1rem 0;
}

input, .btn{
    padding: 1rem 2rem;
    width: 90%;
    margin: .8rem;
    border-radius: 3px;
}
::placeholder{
    color: gray;
}
input{
    border: 1px solid var(--VeryDarkBlue);
}
input:focus{
    border-color: var(--DesaturatedBlue);
}
.btn{
    background-color: var(--BrightBlue);
    border: none;
    color: white;
}



.img{
    height: 50px;
    background: url(images/bg-curve-mobile.svg) no-repeat;
    position: relative;
    top: 70px;

}
.main_part{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 7rem 0 0 0;
    padding: 0 0 3rem .5rem;
    background-color: #f9f8fe;
}
.main_part .illustration{
    margin-top: 5rem;
}
.main_part .text_part{
    padding: 0 2.5rem;
    margin-top: 2rem;
}
.text_part p{
    margin-top: 2rem;
}


.underline{
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.see{
    padding-bottom: 5px;
    border-bottom: 1.5px solid var(--ModerateCyan);
    color: var(--ModerateCyan);
    font-size: 1.5rem;
}
.see:hover::after{
    margin-left: 8px
}
.see::after{
    content: url(images/icon-arrow.svg);
    margin-left: 5px;
    position: relative;
    top: 3px;
    transition: margin .15s;
    }


.testimonial{
    padding: 3rem 1.5rem 2rem 3rem;
    border-radius: 5px;
    box-shadow: var(--shadow);
    width: 80%;
    line-height: 1.5;
    color: var(--VeryDarkBlue);
    font-size: 1.3rem;
    font-weight: 600;
    margin: 3rem 0;
}
.quote{
    height: 15px;
    margin-bottom: 1rem;
}
.info_part img{
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

.info_part{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.person{
    display: flex;
    flex-direction: column;
    margin: 1rem 2rem 1rem 1rem;
}
.person p, .person h3{
    padding: 0;
    margin: 0;
}
.person p{
    font-size: 1rem;
}



.sign_up{
    background: var(--DesaturatedBlue);
    width: 100%;
    padding: 5rem 2rem 7rem 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.sign_up h2, .sign_up p{
    color: white;
    padding: 0 2rem;
}
.sign_up input, .sign_up .btn{
    width: 75%;
    margin: .5rem;
}


.footer{
    background-color: var(--VeryDarkBlue);
    display: flex;
    flex-direction: column;
    color: white;
    padding: 7rem 5rem 5rem 5rem;
}

.media{
    display: flex;
    flex-direction: row;
    margin: 1.5rem 0;
}
.image_part{
    margin: 0 2.5rem 0 0;
}

i{
    border: 1px solid white;
    border-radius: 50%;
    padding: 10px;
    margin: .5rem;
    text-align: center;
    vertical-align: middle;
}
i:nth-of-type(1){
    padding: 10px 13px;
}


.one, .two{
    margin: 4rem 0 0 0;
}
.socials{
    margin-top: 2rem;
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

